<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("Travelit.svg", class: "logo-img") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto justify-content-center">
        <% if user_signed_in? %>
          <li class="pb-2 pt-2 nav-item dropdown mx-auto">
            <a class="pb-2 pt-2 nav-link dropdown-toggle mx-auto" href="#" id="guideDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Guide
            </a>
           <ul class="pb-2 pt-2 dropdown-menu mx-auto custom-dropdown-menu" aria-labelledby="guideDropdown">
            <li><%= link_to "Add my tour", new_tour_path, class: "pb-2 pt-2 dropdown-item mx-auto custom-dropdown-item" %></li>
            <li><%= link_to "My tours", my_tours_tours_path, class: "pb-2 pt-2 dropdown-item mx-auto custom-dropdown-item" %></li>
          </ul>
          </li>

          <li class="pb-2 pt-2 nav-item dropdown mx-auto">
            <a class="pb-2 pt-2 nav-link dropdown-toggle mx-auto" href="#" id="travellerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Traveller
            </a>
            <ul class="pb-2 pt-2 dropdown-menu mx-auto custom-dropdown-menu" aria-labelledby="travellerDropdown">
              <li><%= link_to "Find a tour", home_search_path, class: "pb-2 pt-2 dropdown-item mx-auto custom-dropdown-item" %></li>
              <li><%= link_to "My bookings", bookings_path, class: "pb-2 pt-2 dropdown-item mx-auto custom-dropdown-item" %></li>
              <li><%= link_to "Previous bookings", new_review_path, class: "pb-2 pt-2 dropdown-item mx-auto custom-dropdown-item" %></li>
            </ul>
          </li>
          <li class="pb-2 pt-2 nav-item dropdown mx-auto">
            <%= link_to "Log out",  destroy_user_session_path, class: "style-item dropdown-item", data: {turbo_method: :delete} %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
