
<div class="container">
  <%= simple_form_for "", url: home_search_path, method: :get do |f| %>
    <div class="form-group py-3">
      <%= f.input :city,  label: "Ville  " ,class: "form-control" %>
    </div>
    <div class="form-group py-3">
      <%= f.label :number_of_travlers, "Number of travellers" %>
      <%= f.select :number_of_travlers, options_for_select(1..15), {class: "form-control" } %>
    </div>
    <div class="form-group py-3">
      <%= f.label :hobby, "Hobbies" %>
      <div class="hobby-wrapper py-4">
          <% @hobbies.each do |hobby| %>
            <div class="form-check">
              <%= check_box_tag "tour[hobby_ids][]", hobby.id, false, id: "tour_hobby_#{hobby.id}", class: "form-check-input tag-selector" %>
              <%= label_tag "tour_hobby_#{hobby.id}", hobby.name, class: "form-check-label tag-label" %>
            </div>
          <% end %>
      </div>

    </div>

    <div class="row">
  <div class="col">
    <%= f.input :Start, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
  </div>
  <div class="col">
    <%= f.input :End, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
  </div>
</div>
    <div class="text-center">
      <%= f.submit 'Find my local guide', class: "btn btn-primary-search" %>
    </div>
  <% end %>

</div>
