<div class="container">
  <%= simple_form_for :tour, html: { class: "my-5" } do |f| %>
    <div class="form-group">
      <%= f.label :city, "Ville" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :hobbies, "Hobbies" %>
      <% Hobby.all.each do |hobby| %>
        <div class="form-check">
          <%= check_box_tag "tour[hobby_ids][]", hobby.id, false, id: "tour_hobby_#{hobby.id}", class: "form-check-input" %>
          <%= label_tag "tour_hobby_#{hobby.id}", hobby.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :number_of_travlers, "Nombre de voyageurs" %>
      <%= f.select :number_of_travlers, options_for_select(1..15), { prompt: "Sélectionnez un nombre", class: "form-control" } %>
    </div>
    <div class="text-center">
      <%= f.button :submit, "Trouver mon guide", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
