<!-- app/views/tours/index.html.erb -->
<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>

<div class="container-fluid pt-3">
  <%= render 'shared/search' %>
</div>

<div class="container-fluid">
  <div class="container-fluid pt-5">
    <h1 class="pt-4">Trouvez votre guide</h1>
  </div>
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <!-- Ajoutez les classes Bootstrap nécessaires pour styliser votre carte -->
          <div class="card-body">
            <h2 class="card-title"><%= tour.name %></h2>
            <p class="card-text"><%= tour.description %></p>
            <p class="card-text">Par <%= tour.user.first_name %> <%= tour.user.last_name %></p>
            <p class="card-text"><%= tour.price %> euros</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
