

<div class="container-fluid py-3">

  <div class="card mb-2 py" >
    <div class="card-body">
      <h3 class="card-title tour-description-title">My Tours</h3>
      <% if  @tours.empty?%>
       <div class="alert alert-danger">
        <p>You have no Tours created</p>
        </div>
      <% else %>
        <% @tours.each do |tour| %>
          <div class="card">
            <div class="card-body">
             <div class="card-body">
              <p class="card-text-tour"><%=  tour.name  %></p>
          </div>
              <div class="card-body" data-controller="booking">
                <% if tour.bookings.empty? %>

                  <p class="card-text-tour-book"> No bookings yet</p>
                <% else %>
                  <div class="card-text">
                    <button id="view-button"
                    data-action="click->booking#showBookingList"
                    class="btn btn-bookings-views">View my bookings</button>
                  </div>
                  <div class="booking-list py-2"  style = "display: none" data-booking-target="bookingList">
                    <% tour.bookings.each do |booking| %>
                        <div class="booking-info py-2">
                          <p class="card-text-infos">
                          <strong><%=  booking.user.first_name  %>   <span>wants to join the tour</span></p>
                            <%= simple_form_for :update, url: accept_refuse_bookings_path do |f|%>
                              <%= f.input :booking_id, as: :hidden, input_html: { value: booking.id } %>
                              <% if booking.confirmation %>
                                <div class="accepted-btn-view">
                                  <p class="accepted-btn">Booking has been accepted </p>
                                  <%= f.button :submit, "Refuse and cancel", class: "btn btn-primary" %>
                                </div>
                              <% else %>
                                <div class="buttons-display-inline">
                                  <%= f.button :submit, "Accept", class: "btn btn-primary" %>
                                  <%= f.button :submit, "Refuse", class: "btn btn-primary" %>
                                </div>
                              <% end %>
                            <% end %>
                        </div>
                      <%end %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>

    </div>
  </div>
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type == "notice" ? 'success' : 'danger' %>">
      <%= message %>
    </div>
  <% end %>
</div>


<%= render 'shared/footer' %>
