<h1>Recherche des visites</h1>

<%= form_with(url: "/tours/search", method: "get") do |form| %>
  <div>
    <%= form.label :hobbies, "Hobbies" %>
    <%= form.select :hobbies, options_for_select(Hobby.all.map { |h| [h.name, h.id] }, params[:hobbies]), include_blank: true, multiple: true %>
  </div>

  <div>
    <%= form.label :city, "Ville" %>
    <%= form.select :city, options_for_select(Tour.pluck(:city).uniq, params[:city]), include_blank: true %>
  </div>

  <div>
    <%= form.label :date, "Date" %>
    <%= form.date_select :date, default: params[:date] %>
  </div>

  <div>
    <%= form.label :num_travelers, "Nombre de voyageurs" %>
    <%= form.number_field :num_travelers, value: params[:num_travelers], min: 1 %>
  </div>

  <div>
    <%= form.submit "Rechercher" %>
  </div>
<% end %>

<!-- Afficher les résultats de la recherche ici -->
