
<div class="container-fluid">
  <div class="pt-3" class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title"><%= @tour.user.first_name %> <%= @tour.user.last_name %>  <i class="fa-solid fa-person-hiking"></i></h3>
          <span class="member-since">Member since <%= @tour.user.created_at.strftime("%d/%m/%Y") %></span>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title tour-description-title">Description</h3>
          <p class="card-city">Tour will start in <%= @tour.city %></p>
          <p class="card-text"><%= @tour.description %></p>
            <div class="text-center"> <!-- Ajout de la classe text-center -->
            <button class="custom-button" disabled>
              <%= @tour.price %> €
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title tour-description-title">Hobbies</h3>
          <ul class="list-group list-group-flush">
            <% @tour.user.hobbies.each do |hobby| %>
              <li class="list-group-item"><%= hobby.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title tour-description-title">Reviews</h3>
    <div class="d-flex align-items-center">
      <p class="pt-3 mr-2">Martin Scorcesse</p>
      <div class="stars-container">
        <i class="fa-sharp fa-solid fa-star"></i>
        <i class="fa-sharp fa-solid fa-star"></i>
        <i class="fa-sharp fa-solid fa-star"></i>
        <i class="fa-sharp fa-solid fa-star"></i>
        <i class="fa-sharp fa-solid fa-star"></i>
      </div>
    </div>
          <p class="review-description">"Best tour of my life, thought I was in a movie thank you for this amazing esperience"</p>


    <% @tour.reviews.each do |review| %>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">Rating: <%= review.rating %></p>
          <p class="card-text"><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="row">

    <% if policy(Booking.new(tour: @tour)).create? %>
      <div class="col text-center">
          <%= simple_form_for :booking, url: bookings_path, method: :post do |f| %>
            <div class="row">

              <div class="col">
                <%= f.input :Start, as: :string,
                            wrapper_html: { class: "mb-4" },
                            label_html: { class: "form-label text-secondary fw-bold" },
                            input_html: { data: { controller: "flatpickr" } } %>
              </div>
              <div class="col">
                <%= f.input :End, as: :string,
                            wrapper_html: { class: "mb-4" },
                            label_html: { class: "form-label text-secondary fw-bold" },
                            input_html: { data: { controller: "flatpickr" } } %>
              </div>
            </div>
            <%= f.input :tour_id, as: :hidden, input_html: { value: @tour.id } %>
            <%= f.button :submit, "Book your tour with #{@tour.user.first_name}", class: "btn btn-primary" %>
          <% end %>
      </div>
    <% else %>
      <p> <strong>Your can not create a booking</strong> </p>
    <% end %>
  </div>

<div class="pt-5 container-fluid d-flex justify-content-center">
    <div>
      <p><i class="fa-sharp fa-solid fa-calendar fa-2x"></i></p>
    </div>

    <div class="pt-3 mx-2">
      <div>
        <p class="text-bold-2">Free cancellation up to one week before your arrival</p>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  flatpickr(".datepicker", {
    mode: "range"
  });
});
</script>

<%= render 'shared/footer' %>
