<%= render 'shared/navbar' %>

<div class="container-fluid">
  <div class="pt-3" class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title"><%= @tour.user.first_name %> <%= @tour.user.last_name %>  <i class="fa-solid fa-person-hiking"></i></h3>
          <span class="member-since">Membre depuis <%= @tour.user.created_at.strftime("%d/%m/%Y") %></span>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title tour-description-title">Description du tour</h3>
          <p class="card-text"><%= @tour.description %></p>
            <div class="text-center"> <!-- Ajout de la classe text-center -->
            <button class="custom-button" disabled>
              <%= @tour.price %> €
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title tour-description-title">Hobbies</h3>
          <ul class="list-group list-group-flush">
            <% @tour.user.hobbies.each do |hobby| %>
              <li class="list-group-item"><%= hobby.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title tour-description-title">Reviews</h3>
      <% @tour.reviews.each do |review| %>
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text">Rating: <%= review.rating %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= link_to "Réservez votre tour avec #{@tour.user.first_name}", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>







<script>
  // Attache un gestionnaire d'événement au clic sur le bouton
  document.getElementById("reserve-guide-btn").addEventListener("click", function(event) {
    // Empêche le comportement par défaut du lien
    event.preventDefault();

    // Affiche la notification
    alert("Votre demande a bien été transmise, retrouvez votre voyage dans l'onglet My bookings");

    // Redirige l'utilisateur vers la page My bookings
    //window.location.href = "/my_bookings";
  });
</script>
