<%= render 'shared/navbar' %>

<div class="container-fluid">
  <div class="pt-3" class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title"><%= @tour.user.first_name %> <%= @tour.user.last_name %>  <i class="fa-solid fa-person-hiking"></i></h3>
          <span class="member-since">Membre depuis <%= @tour.user.created_at.strftime("%d/%m/%Y") %></span>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title tour-description-title">Description du tour</h3>
          <p class="card-text"><%= @tour.description %></p>
            <div class="text-center"> <!-- Ajout de la classe text-center -->
            <button class="custom-button" disabled>
              <%= @tour.price %> €
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title tour-description-title">Hobbies</h3>
          <ul class="list-group list-group-flush">
            <% @tour.user.hobbies.each do |hobby| %>
              <li class="list-group-item"><%= hobby.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title tour-description-title">Reviews</h3>
      <% @tour.reviews.each do |review| %>
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">Rating: <%= review.rating %></p>
            <p class="card-text"><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% if policy(Booking.new(tour: @tour)).create? %>
      <div class="col text-center">
          <%= simple_form_for :booking, url: bookings_path, method: :post do |f| %>
            <%= f.label :date_range, "Date" %>
            <%= f.text_field :date_range, class: 'datepicker' %>
            <%= f.input :tour_id, as: :hidden, input_html: { value: @tour.id } %>
            <%= f.button :submit, "Réservez votre tour avec #{@tour.user.first_name}", class: "btn btn-primary" %>
          <% end %>


        <%# <%= link_to "Réservez votre tour avec #{@tour.user.first_name}",
                    "#",
                    class: "btn btn-primary",
                    data: { user_id: @tour.user.id } %>
        <%# </div> %>
      </div>
    <% else %>
      <p>This is what <strong>Your tour booking</strong> looks like</p>
    <% end %>
  </div>

<div class="pt-5 container-fluid d-flex justify-content-center">
    <div>
      <p><i class="fa-sharp fa-solid fa-calendar fa-2x"></i></p>
    </div>

    <div class="mx-2">
      <div>
        <p class="text-bold">Annulation gratuite jusqu'à une semaine avant votre arrivée</p>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  flatpickr(".datepicker", {
    mode: "range"
  });
});
</script>

<%= render 'shared/footer' %>
