<!-- app/views/tours/index.html.erb -->





</div>



<div class="container-fluid">
  <h1 class="pt-4">Your guides</h1>
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-md-6 col-lg-4">
        <div class="card-trip card mb-4" onclick="redirectToTour('<%= tour_path(tour) %>')">
        <%= cl_image_tag tour.photos.first.key, height: 300, width: 400, crop: :fill  %>
          <div class="card-trip-infos">
            <div>
              <h3 class="card-trip-title"><%= tour.name %> - <span class="small-text"><%= tour.user.first_name %> <%= tour.user.last_name %></span></h3>
              <p class="card-text">
                <% description_words = tour.description.split(' ') %>
                <% truncated_description = description_words.take(5).join(' ') %>
                <%= truncated_description %> ...
              </p>
            </div>
            <h4 class="card-trip-pricing"><%= tour.price %><span class="small-text">€</span></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function redirectToTour(url) {
    window.location.href = url;
  }
</script>


<%= render 'shared/footer' %>
